html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #333333;
}

ul {
   list-style: none;
}

.container {
   max-width: 1220px;
   padding: 0 10px;
   margin: 0 auto;
}

a.anchor {
   display: block;
   position: relative;
   top: -80px;
   visibility: hidden;
}

.section__title, 
.section__title-white {
   display: block;
   font-size: 40px;
   font-weight: 900;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 50px;
   padding: 70px 0 0 0;
}

.section__title-white {
   color: #ebebeb;
}

.section__title-white::after {
   content: "";
   display: block;
   margin: 15px auto 0;
   width: 20%;
   height: 3px;
   background-color: rgb(81, 242, 252, 0.8);
}

.body {
   font-family: 'Roboto', sans-serif;
   color: #333333;
}

.header {
   background-color: #252525;
   color: #ebebeb;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #252525;
   z-index: 2;
}

.header a {
   color: #ebebeb;
}

.header__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 17px;
}

.header__burger {
   display: none;
}

.logo {
   padding: 15px 0;
   text-align: center;
   position: relative;
   z-index: 3;
}

.logo__img {
   max-height: 50px;
   padding-top: 4px;
}

.logo__text-title {
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
}

.menu {
   z-index: 3;
}

.menu__list {
   display: flex;
   justify-content: space-between;
}

.menu__item {
   margin: 0 15px;
}

.menu__item-link {
   text-transform: uppercase;
   padding-bottom: 5px;
   border-bottom: 3px solid transparent;
   transition: all .5s;
}

.menu__item-link:hover {
   border-bottom: 3px solid #51f2fc;
}

.contacts-top {
   display: block;
   position: relative;
   margin-left: 24px;
   z-index: 2;
}

.contacts-top__mobile {
   display: none;
}

.contacts-top__phone {
   display: flex;
   align-items: center;
   margin-bottom: 13px;
}

.contacts-top__phone-link:hover, .contacts-top__geo-link:hover {
   color: #51f2fc;
}

.contacts-top__phone::before {
   display: flex;
   position: absolute;
   content: "";
   background-image: url('../images/phone.svg');
   width: 18px;
   height: 18px;
   left: -24px;
}

.contacts-top__geo {
   display: flex;
   align-items: center;
}

.contacts-top__geo::before {
   display: flex;
   position: absolute;
   content: "";
   background-image: url('../images/geo.svg');
   width: 19px;
   height: 19px;
   left: -24px;
}

.top__wrap {
   display: flex;
   padding: 160px 0 60px 0;
}

.top__content {
   width: 50%;
}

.top__title {
   font-size: 46px;
   font-weight: 900;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.top__text {
   font-size: 24px;
   text-transform: uppercase;
}

.top__message {
   margin: 100px 0 0 0;
}

.top__message-img {
   margin: 0 15px;
   height: 80px;
   width: 80px;
}

.top__message-img:hover {
   animation: shake 1.2s ease-in-out;
}

.top__message-text {
   display: block;
   position: relative;
   margin: 30px auto;
   font-size: 24px;
}

.top__message-text::after {
   display: flex;
   position: absolute;
   left: 360px;
   bottom: 10px;
   content: "";
   background-image: url('../images/arrow.svg');
   background-repeat: no-repeat;
   background-size: contain;
   width: 105px;
   height: 105px;
   transform: rotate(-90deg);
}

.top__image-png {
   max-height: 440px;
}

.services {
   background: url('../images/bg-services.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.services__wrap {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   padding-bottom: 60px;
}

.services__item {
   background: #ebebeb;
   max-width: 365px;
   width: 100%;
   margin: 0 auto 50px;
}

.services__img {
   width: 100%;
}

.services__text {
   padding: 20px 25px 25px;
}

.services__text-title {
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.advantages__wrap {
   display: flex;
   margin: 0 0 0 50px;
   flex-wrap: wrap;
   row-gap: 40px;
   column-gap: 120px;
   padding: 0 0 60px 20px;
}

.advantages__item {
   width: calc(50% - 120/2*1px);
   position: relative;
}

.advantages__item::before {
   content: '';
   position: absolute;
   width: 40px;
   height: 40px;
   background-size: contain;
   left: -60px;
}

.advantages__item--garant::before {
   background: url(../images/check.svg) no-repeat;
}

.advantages__item--sklad::before {
   background: url(../images/sklad.svg) no-repeat;
}

.advantages__item--srok::before {
   background: url(../images/srok.svg) no-repeat;
}

.advantages__item--team::before {
   background: url(../images/team.svg) no-repeat;
}

.advantages__item--tool::before {
   background: url(../images/tool.svg) no-repeat;
}

.advantages__item--evakuator::before {
   background: url(../images/evakuator.svg) no-repeat;
}


.advantages__title {
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.team {
   background: url('../images/bg-team.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.team__wrap {
   max-width: 1000px;
   margin: 0 auto;
   padding-bottom: 60px;
}

.team__block {
   display: block;
   color: #ebebeb;
   text-align: center;
   margin: 0 50px;
}

.team__block-name {
   display: block;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 700;
}

.team__block-img {
   display: flex;
   margin: 0 auto;
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 50%;
   border: 3px solid #51f2fc;
   margin-bottom: 15px;
}

.slider__wrap {
   width: 100%;
   padding-bottom: 60px;
}

.slider__wrap::after {
   display: block;
   content: "";
   clear: both;
}

.slider__box-1 {
   width: calc(50% - 40px);
   float: left;
}

.slider__box-2 {
   width: calc(50% - 40px);
   float: right;
}

.gallery {
   background: url('../images/bg-services.jpg') no-repeat;
   background-size: cover;
   background-position: center top;
   padding-bottom: 60px;
}

.gallery__wrap {
   margin: 0 auto;
   width: 90%;
   position: relative;
}

.gallery__slide img {
   margin: 10px 20px;
   -webkit-box-shadow: 0px 2px 12px 0px rgba(246, 246, 246, 0.2);
   -moz-box-shadow: 0px 2px 12px 0px rgba(246, 246, 246, 0.2);
   box-shadow: 0px 2px 12px 0px rgba(246, 246, 246, 0.2);
}

.contacts__wrap {
   display: flex;
   -webkit-box-shadow: 6px 0px 5px -2px rgba(9, 9, 9, 0.6);
   -moz-box-shadow: 6px 0px 5px -2px rgba(9, 9, 9, 0.6);
   box-shadow: 6px 0px 5px -2px rgba(9, 9, 9, 0.6);
}

.contacts__map {
   width: calc(50% - 1px);
   border-left: 1px solid rgb(51, 51, 51, 0.1);
}

.contacts-bottom {
   width: 460px;
   padding: 30px 0;
}

.contacts-bottom__text {
   position: relative;
   padding-left: 30px;
   border-left: 3px solid rgb(51, 51, 51, 0.7);
}

.contacts-bottom__phone {
   display: flex;
   align-items: center;
   text-align: center;
   margin-bottom: 5px;
}

.contacts-bottom__phone-link:hover, .contacts__geo-link:hover {
   text-decoration: underline;
}

.contacts-bottom__geo {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   font-weight: 700;
}

.contacts-bottom__block {
   display: flex;
   width: 50%;
   justify-content: center;
   font-size: 25px; 
}

.contacts__message {
   margin-top: 50px;
}

.footer {
   background-color: #252525;
   color: #ebebeb;
}

.footer__text a {
   color: #ebebeb;
}

.arrows {
   display: flex;
   justify-content: space-between;
   position: absolute;
   z-index: 2;
   top: 50%;
   width: 100%;
   transform: translateY(-50%);
   opacity: 0.6;
}

.arrow {
   width: 20px;
   cursor: pointer;
}

.arrows:hover {
   opacity: 1;
}

.arrows .prev {
   transform: rotate(180deg);
   position: relative;
   left: -20px;
}

.arrows .next {
   position: relative;
   right: -20px;
}

@keyframes shake {
   0%, 50%, 100% {
      transform: rotate(0deg);
   }
   10%, 30% {
      transform: rotate(-10deg);
   }
   20%, 40% {
      transform: rotate(10deg);
   }
}


/* Настройка виджета соц сетей и "наверх" в углу */
.wrapper__buttons {
   position: fixed;
   bottom: 60px;
   right: 2%;
   display: flex;
   flex-direction: column-reverse;
   gap: 1rem;
}

.wrapper__buttons button {
   font-family: inherit;
   outline: none;
   border: none;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   cursor: pointer;
   background-color: transparent;
}

.wrapper__buttons button svg {
   width: 4rem;
   height: 4rem;
   transition: all 0.3s ease 0s;
}
.wrapper__buttons button:hover {
   animation: shake 1.2s ease-in-out;
}
.wrapper__buttons .add {
   z-index: 99;
   transition: all 0.3s ease 0s;
}
.wrapper__buttons .message__icon {
   position: relative;
   bottom: -6rem;
   opacity: 0;
   transform: rotatez(-45deg);
   transition: all 0.3s ease 0s;
   pointer-events: none;
}
.wrapper-open .message__icon {
   opacity: 1;
   bottom: 0;
   transform: rotatez(0deg);
   pointer-events: auto;
}

.wrapper-open .add svg {
   transform: rotatez(135deg);
}

.go-top {
	position: fixed;
	bottom: 10px;
	right: 2%;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
	padding: 1em;
	display: none;
   z-index: 2;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

#widgethelp_uniquecssid.rightbottom, .widgethelpbuttons.rightbottom, .widgethelptrigger.rightbottom {
   right: 2% !important;
   bottom: 9% !important;
}

#widgethelp_uniquecssid .widgethelptext, .widgethelptext.rightbottom {
   display: none !important;
}
